@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  box-sizing: border-box;
  font-family: 'Alexandria';
}


.row
{
  @apply flex flex-wrap px-4 py-5
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #22c55e;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  .product .btn 
  {
    transition:  transform 1s , opacity 1s;
   transform: translateY(100%); 
   opacity: 0;
  }
  .product:hover .btn 
  {
    opacity: 1;
    transform: translateY(0%);
  }
 .btn 
  {
    @apply text-white bg-red-600 px-4 py-2 rounded-lg w-full  
 }
 @layer base {
  html {
    scroll-behavior: smooth;
  }
}

* {
  overflow-y: hidden;
}

body {
  overflow-y: auto !important;
}
body {
  font-family: "Alexandria", sans-serif;
}

html 
{
  overflow-y: auto !important;
}